@(title: String, assetsFinder: AssetsFinder, scripts: Html = Html(""))(content: Html)(implicit request: Request[AnyContent])

@if(request.session.get("username").isEmpty) {
  <script src="@assetsFinder.path("javascripts/redirect.js")"></script>
}

<!DOCTYPE html>
<html lang="en">
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <title>@title</title>
        <link rel="stylesheet" media="screen" href="@assetsFinder.path("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@assetsFinder.path("images/favicon.png")">
        <link rel="stylesheet" href="@assetsFinder.path("bootstrap-4.1.1-dist/css/bootstrap.min.css")">
        <link rel="stylesheet" href="@assetsFinder.path("fontawesome-free-5.3.1-web/css/all.min.css")">

        <script src="@assetsFinder.path("javascripts/jquery-3.3.1.min.js")"></script>
        <script src="@assetsFinder.path("javascripts/popper.min.js")"></script>
        <script src="@assetsFinder.path("bootstrap-4.1.1-dist/js/bootstrap.min.js")"></script>
        <script src="@assetsFinder.path("javascripts/hello.js")"></script>

        @scripts

    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="@routes.AssetsController.viewAssets()">MU Sloth Bike</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="@routes.AssetsController.viewAssets()" role="button" aria-haspopup="true" aria-expanded="true" data-target="#assetDropdown">Assets</a>
                <div class="dropdown-menu" id="assetDropdown">
                  <a class="dropdown-item" href="@routes.AssetsController.viewAssets()">View asset</a>
                  <a class="dropdown-item" href="@routes.AssetsController.viewInsertAssets()">Insert asset</a>
                  <a class="dropdown-item" href="@routes.AssetsController.viewImportAssets()">Import assets</a>
                </div>
              </li>
              <li class="nav-item" >
                <a class="nav-link" href="@routes.PaymentController.getPayments()">Payments</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="@routes.StationController.viewStations()">Stations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="@routes.ReportController.viewReport()">Reports</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true" data-target="#loginDropdown" style="color:white">
                  <span>Welcome : @{request.session.get("username").getOrElse("example@gmail.com")}</span>
                </a>
                <div class="dropdown-menu" id="loginDropdown">
                  <a class="dropdown-item" href="@routes.LoginController.doLogout()">Logout</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>

        <div class="container-fluid">
            <div class="row align-content-center">
                <div class="col-md-8 py-md-3 offset-md-2">@content</div>
            </div>
        </div>
    </body>
</html>
