@(payments: Seq[FullPayment], total: Int, majors: Seq[String], form: Form[PaymentQuery])(implicit assetsFinder: AssetsFinder, request: Request[AnyContent])

@currentPage(form: Form[PaymentQuery]) = @{
  val pageNo = form.data.get("page").map(_.toInt).getOrElse(1)
  pageNo match {
    case p if p >= 1 => p
    case _ => 1
  }
}

@pageSize(form: Form[PaymentQuery]) = @{
  form.data.get("pageSize").map(_.toInt).getOrElse(10) match {
    case p if p >= 1 => p
    case _ => 10
  }
}

@disabledPrev(form: Form[PaymentQuery]) = @{
  if(currentPage(form) <= 1) {
  "disabled"
  } else {
  ""
  }
}

@disabledNext(form: Form[PaymentQuery]) = @{
  if(currentPage(form) >= Math.ceil(total / pageSize(form).toDouble).toInt) {
   "disabled"
  } else {
    ""
  }
}

@activePage(page: Int) = @{
  if(currentPage(form) == page) {
   "active"
  } else {
   ""
  }
}

@pageList(total: Int, form: Form[PaymentQuery]) = @{
  val page = currentPage(form)
  val pageAmount =  Math.ceil(total / pageSize(form).toDouble).toInt

  val list = 1 to pageAmount
  list.filter(i => i >= page - 3 && i <= page + 3)
}

@queryParam(form: Form[PaymentQuery], page: Int) = @{
  val studentIdQuery = form.data.get("studentId").map(str => s"studentId=$str")
  val firstNameQuery = form.data.get("firstName").map(str => s"firstName=$str")
  val lastNameQuery = form.data.get("lastName").map(str => s"lastName=$str")
  val majorQuery = form.data.get("major").map(str => s"major=$str")
  val pageSizeQuery = form.data.get("pageSize").map(str => s"pageSize=$str")
  val queryString = Seq(studentIdQuery, firstNameQuery, lastNameQuery, majorQuery, pageSizeQuery).flatten.mkString("&") + "&page=" + page.toString
  queryString
}

@scripts = {
  <script src="@assetsFinder.path("javascripts/hello.js")"></script>
}

@main("MU Sloth Bike", assetsFinder, scripts) {
    @helper.form(action = routes.PaymentController.filterPaymentAction()) {
    <div class="card border-secondary mb-3">
      <div class="card-header">Payment List</div>
      <div class="card-body text-secondary">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>รหัสนักศึกษา</label>
            <input type="text" id="studentId" name="studentId" class="form-control" value='@form.data.get("studentId")' />
          </div>
          <div class="form-group col-md-6">
            <label>ชื่อ - นามสกุล</label>
            <div class="row">
              <div class="col">
                <input type="text" id="firstName" name="firstName" placeholder="ชื่อ" class="form-control" value='@form.data.get("firstName")' />
              </div>
              -
              <div class="col">
                <input type="text" id="lastName" name="lastName" placeholder="นามสกุล" class="form-control" value='@form.data.get("lastName")' />
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-5">
            <label>คณะ</label>
            <select id="major" name="major" class="form-control" value='@form.data.get("major")'>
              <option value="" selected="selected"></option>
              @for(m <- majors) { @if(m==form.data.get("major").getOrElse("")) { <option value="@m" selected="selected">@m</option>
                } else {
                <option value="@m">@m</option>
                }
                }
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-8"></div>
          <div class="form-group col-md-2">
            <button type="submit" name="submit-action" value="search" class="btn btn-success btn-block">Search</button>
          </div>
          <div class="form-group col-md-2">
            <a href="/payments" class="btn btn-danger btn-block">Reset</a>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-2">
        <button type="submit" name="submit-action" value="export" class="btn btn-warning btn-block">Export</button>
      </div>
    </div>
    }

  <div class="table-responsive">
    <table id="paymentTable" class="table  table-hover table-dark table-bordered">
      <thead>
        <tr class="bg-primary">
          <th>รหัสนักศึกษา</th>
          <th>ชื่อ-นามสกุล</th>
          <th>คณะ</th>
          <th>ค่าปรับเกินเวลา(บาท)</th>
          <th>ค่าปรับชำรุด(บาท)</th>
          <th>รวมค่าปรับ(บาท)</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
      @for(payment <- payments) {
        <tr id="@payment.historyId">
          <td>@payment.studentId</td>
          <td>@{payment.firstName + " " + payment.lastName}</td>
          <td>@payment.major</td>
          <td>@payment.overtimeFine</td>
          <td>@payment.defectFine</td>
          <td>@{payment.overtimeFine + payment.defectFine}</td>
          <td>
            <button type="button"
            data-target="#paymentModal"
            data-toggle="modal"
            id="@payment.historyId"
            class="btn btn-primary">Pay</button>
          </td>
        </tr>
      }
      </tbody>
    </table>
  </div>

   <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item @disabledPrev(form)">
          <a class="page-link" href="/payments?@queryParam(form, currentPage(form) - 1)" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        @for(i <- pageList(total, form)) {
          <li class="page-item @activePage(i)"><a class="page-link" href="/payments?@queryParam(form, i)">@i</a></li>
        }
        <li class="page-item @disabledNext(form)">
          <a class="page-link" href="/payments?@queryParam(form, currentPage(form) + 1)" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>

  <div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">รับชำระเงิน</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" id="submitUpdate" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
}