@(stations: Seq[StationResult], total: Int, form: Form[StationQuery])(implicit assetsFinder: AssetsFinder, request: Request[AnyContent])

@currentPage(form: Form[StationQuery]) = @{
  val pageNo = form.data.get("page").map(_.toInt).getOrElse(1)
  pageNo match {
    case p if p >= 1 => p
    case _ => 1
  }
}

@pageSize(form: Form[StationQuery]) = @{
  form.data.get("pageSize").map(_.toInt).getOrElse(10) match {
    case p if p >= 1 => p
    case _ => 10
  }
}

@disabledPrev(form: Form[StationQuery]) = @{
  if(currentPage(form) <= 1) {
    "disabled"
  } else {
    ""
  }
}

@disabledNext(form: Form[StationQuery]) = @{
  if(currentPage(form) >= Math.ceil(total / pageSize(form).toDouble).toInt) {
    "disabled"
  } else {
    ""
  }
}

@activePage(page: Int) = @{
  if(currentPage(form) == page) {
    "active"
  } else {
    ""
  }
}

@pageList(total: Int, form: Form[StationQuery]) = @{
  val page = currentPage(form)
  val pageAmount =  Math.ceil(total / pageSize(form).toDouble).toInt

  val list = 1 to pageAmount
  list.filter(i => i >= page - 3 && i <= page + 3)
}

@queryParam(form: Form[StationQuery], page: Int) = @{
  val nameQuery = form.data.get("name").map(str => s"name=$str")
  val minAvailableQuery = form.data.get("minAvailable").map(str => s"minAvailable=$str")
  val maxAvailableQuery = form.data.get("maxAvailable").map(str => s"maxAvailable=$str")
  val queryString = Seq(nameQuery, minAvailableQuery, maxAvailableQuery).flatten.mkString("&") + "&page=" + page.toString
  queryString
}

@main("MU Sloth Bike", assetsFinder) {
  @helper.form(action = routes.StationController.filterStationAction()) {

    <div class="card border-secondary mb-3">
      <div class="card-header">Station List</div>
      <div class="card-body text-secondary">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="name">Station: </label>
            <input type="text" id="name" name="name" class="form-control form-control-sm" value='@form.data.get("name")'/>
          </div>
          <div class="form-group col-md-1"></div>
          <div class="form-group col-md-6">
            <label>Available Asset: </label>
            <div class="row">
              <div class="col">
                <input type="number" min="0" id="minAvailable" name="minAvailable" class="form-control form-control-sm" value='@form.data.get("minAvailable")'/>
              </div>
              -
              <div class="col">
                <input type="number" min="0" id="maxAvailable" name="maxAvailable" class="form-control form-control-sm" value='@form.data.get("maxAvailable")'/>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-8"></div>
          <div class="form-group col-md-2">
            <button type="submit" class="btn btn-success btn-block">Search</button>
          </div>
          <div class="form-group col-md-2">
            <button type="reset" class="btn btn-danger btn-block">Reset</button>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-2">
        <a href="/stations/add" class="btn btn-primary btn-block">Add New</a>
      </div>
    </div>

  }

  @if(stations.size != 0) {
    <div class="table-responsive">
      <table class="table table-hover table-dark table-bordered">
        <thead>
          <tr class="bg-primary">
            <th>Station Number</th>
            <th>Location</th>
            <th>Available Assets</th>
          </tr>
        </thead>
        <tbody>
        @for(station <- stations) {
          <tr>
            <td>@station.name</td>
            <td>@station.location</td>
            <td>@station.available</td>
          </tr>
        }
        </tbody>
      </table>
    </div>

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item @disabledPrev(form)">
          <a class="page-link" href="/stations?@queryParam(form, currentPage(form) - 1)" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        @for(i <- pageList(total, form)) {
          <li class="page-item @activePage(i)"><a class="page-link" href="/stations?@queryParam(form, i)">@i</a></li>
        }
        <li class="page-item @disabledNext(form)">
          <a class="page-link" href="/stations?@queryParam(form, currentPage(form) + 1)" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  }
}