@(headers: Seq[String], rows: Seq[(Call, Seq[Any])])(implicit assetsFinder: AssetsFinder)

<div class="table-responsive">
  <table id="table-clickable" class="table table-hover table-dark table-bordered">
    <thead>
      <tr class="bg-primary">
        @headers.map{ h =>
          <th scope="col">@h</th>
        }
      </tr>
    </thead>
    <tbody>
      @rows.map { row =>
        <tr>
          @row._2.map { r =>
            <td><a href="@row._1">&nbsp;</a>@r</td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>